@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  height: 100vh;
  width: auto;
  margin: 0;
  overflow-y: visible;
  overflow-x: hidden;
}

.authWrapper {              /* Auth - SignUpLayout - authWrapper */
  display: flex;
  height: 100vh;
}

.left-container {           /* Auth -SignUpLayout - left-container */
  height: auto;
  flex: 1;
  background-color: #eceaf6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-Container {           /* Auth -SignInLayout - left-Container */
  flex: 1;
  background-color: rgba(230, 235, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

#signup-img {           /* Auth - SignUpLayout - signup-img */      
  display: flex;
  max-width: 75%;
  max-height: 80%;
  flex: 1,0.5,auto;
}

.right-container {          /* Auth - SignUpLayout - right-container */
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
}

.row1 {                     /* Auth - SignUpLayout - row1 */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#auth-frame {           /* Auth - SignUpLayout - auth-frame */
  margin-right: 40px;
  display: flex;
  max-width: 50%;
  max-height: 55%;
  flex: 0.5,0.5,auto;
}

.row2 {         /* Auth - SignUpLayout - row2  */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 1,1,auto;
}

.signup-form {         /*Auth - SignUpForm - SignUp - signup-form*/        
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  gap: 20px;
  width: 65%;
  height: 69%;
  max-width: 580px; 
  max-height: 400px;
}

.signuptxt{          /* Auth - SignUpForm - SignUp - signuptxt */
  margin-bottom: -25px;
}

#signup-txt1 {                      /* Auth - SignUpForm - SignUp - signup-txt1 */
  font-family: "Poppins", sans-serif;
  margin: 0px;
  font-size: 30px;
  font-weight: 600;
  color: rgba(51, 51, 102, 1);
  max-width: 100;
  max-width: 100%;
  text-align: start;
  flex: 1,1,auto;
}

#signup-txt2 {                    /* Auth - SignUpForm - SignUp - signup-txt2 */
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  width: auto;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  color: rgba(51, 51, 102, 0.7);
  text-align: start;
  flex: 1,1,auto;
}

#btn {                          /* Auth - SignUpForm - SignUp - btn */
  background-color: rgba(0, 200, 166, 1);
  height: 50px;
}

#verification-txt1 {            /* Auth - SignUpFrom - Verification - verification-txt1 */
  font-family: "Poppins", sans-serif;
  width: 100%;
  font-size: 25px;
  font-weight: 600;
  color: rgba(51, 51, 102, 1);
  margin-bottom: -20px;
}

#verification-txt2 {              /* Auth - SignUpFrom - Verification - verification-txt2 */
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  margin-bottom: -5px;
  color: rgba(51, 51, 102, 0.7);
}

.detail-container {           /* Auth - SignUpFrom - Details - detail-container */
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-width: 400px;
}

#details-txt1 {              /* Auth - SignUpFrom - Details - details-txt1 */
  font-family: "Poppins", sans-serif;
  width: fit-content;
  font-size: 30px;
  font-weight: 600;
  color: rgba(51, 51, 102, 1);
  margin-top: 0px;
}

#details-txt2 {             /* Auth - SignUpFrom - Details - details-txt2 */
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  margin-top: -39px;
  color: rgba(51, 51, 102, 0.7);
}

.detail-card {              /* Auth - SignUpFrom - Details - detail-card */
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
  margin-top: 0px;
  border: 1px solid;
}

.txt-3 {                  /* Auth - SignUpFrom - Details - txt-3 */
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  width: auto;
  color: black;
  font-size: 11px;
  font-weight: 500;
}

#link{                  /* Auth - SignUpFrom - Details - link */        
  text-decoration: none;
}

.pincode-form {         /* Auth - SignUpForm - SignUp - pincode-form */
  position: absolute;         
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin: 0, auto;
}

#pincode-txt1 {                      /* Auth - SignUpForm - Pincode - pincode-txt1 */
  font-family: "Poppins", sans-serif;
  margin-bottom: -20px;
  font-size: 30px;
  font-weight: 600;
  color: rgba(51, 51, 102, 1);
  max-width: 100;
  max-width: 100%;
  text-align: start;
  flex: 1,1,auto;
}

#pincode-txt2 {                    /* Auth - SignUpForm - Pincode - pincode-txt2 */
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  width: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  color: rgba(51, 51, 102, 0.7);
  text-align: start;
  flex: 1,1,auto;
}

#signin-img {           /* Auth - SignInLayout - signin-img */      
  display: flex;
  max-width: 80%;
  max-height: 85%;
  flex: 1,0.5,auto;
}

.signin-form {            /* Auth - SignInLayout - signin-form */
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  gap: 20px;
  width: 65%;
  height: 69%;
  max-width: 580px; 
  max-height: 400px;
}

.navbar {                /* Root - Pages - HomeTab - navbar */
  background-color: rgba(61, 48, 162, 1);
  height: 75px;
  color: white;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1,1,auto;
}

.logo {                 /* Root - Pages - HomeTab - logo */      
  padding: 10px;
  margin: 25px;
}

.nav-content {          /* Root - Pages - HomeTab - nav-content */   
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

#nav-item {             /* Root - Pages - HomeTab - nav-item */
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  margin-right: 35px;
}

#nav-item:hover {         /* Root - Pages - HomeTab - nav-item */
  color: rgba(0, 200, 166, 1);
}

.modal {                /* Root - Pages - TopBar - modal */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  flex: 1,1,auto;
}

.modalProfile {                /* Root - Pages - TopBar - modalProfile */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  flex: 1,1,auto;
}

.modal-description {          /* Root - Pages - TopBar - modal-content */
  background-color: #fefefe;
  padding: 25px;
  border-radius: 10px;
  flex: 1,1,auto;
  width: 25%;
}

.profile-description {          /* Root - Pages - TopBar - profile-description */
  background-color: #fefefe;
  border-radius: 10px;
  flex: 1,1,auto;
  display: flex;
  align-items: center;
  max-height: 900px;
}

.test{
  border: 1px solid;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test .close{
  margin-right: -150px;
}


.close-container{               /* Root - Pages - TopBar - close-container */
  display: flex;
  flex-direction: column;
  flex: 1,1,auto;
}


.profile-txt1{                  /* Root - Pages - TopBar - profile-txt1 */
  color: rgba(51, 51, 102, 1);
  font-family: "Poppins",sans-serif;
  font-size: x-large;
  font-weight: 500;
  width: 95%;
  margin-bottom: 0px;
}

.profile-txt2{                  /* Root - Pages - TopBar - profile-txt1 */
  color: rgba(51, 51, 102, 1);
  font-family: "Poppins",sans-serif;
  font-size: medium;
  font-weight: 350;
  width: 95%;
  margin-top: 0px;
}

.profile-detail {              /* Auth - SignUpFrom - Details - profile-detail */
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  width: 100%;
}

.close {                /* Root - Pages - TopBar - modal-close */
  color: rgba(51, 51, 102, 1);
  float: right;
  font-size: 40px;
  font-weight: 400;
  cursor: pointer;
  margin-left: 50px;
  margin-top: -13px;
}

.close:hover,
.close:focus {            /* Root - Pages - TopBar - modal-close */
  color: rgba(0, 200, 166, 1);
  text-decoration: none;
} 

.modal-description, h2{             /* Root - Pages - TopBar - modal - h2 */
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  font-size: large;
}

.modal-description, h4{             /* Root - Pages - TopBar - modal- h4 */
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  font-size: small;
}

.modal-description .MuiAutocomplete-root,     /* Root - Pages - TopBar - modal - Textfields */
.modal-description .MuiTextField-root {
  margin-bottom: 10px; 
  width: calc(100% - 15px);
}

.helper-text{            /* Root - Pages - TopBar - modal - helpertext */
  display: flex;
  width: calc(100% - 15px);  
  justify-content: flex-end;
  font-size: 0.8em; 
  color: #111;
}

#btn-start {              /* Root - Pages - TopBar - modal - btn-start */
  margin-top: 20px;
  background-color: rgba(0, 200, 166, 1);
  height: 40px;
}

.profile-logo {           /* Root - Pages - TopBar - modal - profile-logo */
  display: flex;
  align-items: center;
  justify-content: center;
}


.profile-txt {            /* Root - Pages - TopBar - modal - profile-txt */
  color: rgba(179, 38, 30, 1);
  font-weight: 600;
  flex: 1,1,auto;
  width: 90%;
}

.icon-container {          /* Root - Pages - TopBar - modal - icon-container */
  display: flex;
  color: rgba(179, 38, 30, 1);
  width: 80%;
  margin-left: 35px;
}

.profile-description .close{
  border: 1px solid;
}

.home-tab {           /* Root - Pages - HomeTab - home-tab */
  height: 50px;
  background-color: rgba(219, 234, 254, 1);
}

.tab-list {            /* Root - Pages - HomeTab - tab-list */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#tab-event {                /* Root - Pages - HomeTab - tab-event */
  font-family: "Poppins", sans-serif;
  font-size: medium;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  background-color: rgba(219, 234, 254, 1);
}

#tab-event:focus {          /* Root - Pages - HomeTab - tab-event */
  background-color: white;
}

.newEventWrapper {           /* Root - Pages - NewEvent - newEventWrapper */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
  margin-top: 10px;
  background-color: rgba(219, 234, 254, 0.3);
}

.newEventWrapper img {        /* Root - Pages - NewEvent - images */
  position: relative;
  bottom: -95px;
}

img[alt="leftImage"] {       /* Root - Pages - NewEvent - leftimg */
  left: 155px;
}

img[alt="rightImg"] {       /* Root - Pages - NewEvent - rightimg */
  right: 135px;
}

img[alt="downImg"] {        /* Root - Pages - NewEvent - downimg */
  bottom: -159px;
  right: 0;
  margin-right: 50px; /* Adjust as needed */
}

.newEventForm {            /* Root - Pages - NewEvent - newEventForm */
  background-color: #fefefe;
  width: 499px;
  min-width: 299px;
  margin-left: 150px;
  padding: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-txt {              /* Root - Pages - NewEvent - card-txt */
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
  color: rgba(51, 51, 102, 1);
  font-weight: 600;
  text-align: center;
}

.inp-container{         /* Root - Pages - NewEvent - inp-container */
  width: 100%;
}

.inp-txt {              /* Root - Pages - NewEvent - inp-txt */
  font-family: "Poppins", sans-serif;
  font-size: small;
  font-weight: 500;
  color: rgba(51, 51, 102, 1);
}

#btn-start {            /* Root - Pages - NewEvent - btn-start */
  margin-top: 20px;
  background-color: rgba(0, 200, 166, 1);
  height: 40px;
}

.outlet{               /* Root - Pages - Modal1 - outlet */     
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 15px;
  width: auto;
}

.h1txt{             /* Root - Pages - Modal1 - h1txt */ 
  display: flex;
  font-family: "Poppins",sans-serif;
  font-size: medium;
  font-weight: 500;
  color: rgba(51, 51, 102, 1);
  justify-content: center;
  align-items: center;
}

.Buttons{              /* Root - Pages - Modal1 - Buttons */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px;
  color: teal;
}

.description{          /* Root - Pages - Modal1 - description */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
}

.description,h2,Typography{       /* Root - Pages - Modal1 - description */
  margin-top: 0px;
}

.titletxt{                /* Root - Pages - Modal1 - titletxt */
  font-family: "Poppins",sans-serif;
  font-size: small;
  font-weight: 300;
  color: rgba(51, 51, 102, 1);
}

.pin-input-container {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
}

.pin-dashes {
  /* border: 1px solid; */
  display: flex;
  gap: 25px;
  margin-bottom: 15px;
}

.dash {
  width: auto;
  margin-bottom: 15px;
  padding: 15px;
  border-bottom: 1.5px solid black;
  display: flex;
  /* align-items: center; */
}

.pin-input {
  width: 0;
  opacity: 0;
  position: absolute;
}

.error-message {
  color: red;
  
}

.screen-width {
  width: 100vw;
  height: 100vh;
}

.left-part {
  width: 490px;
  height: 489.97px;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-left: 50px;
}

.right-part{
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    width: 50%;
}

.filterWrapper{
  /* border: 1px solid black; */
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 25px;
}

.search{
  background-color: rgb(227, 242, 253);
  /* border: 1px solid blue; */
  border-radius: 20px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5px;
}

.filter{
  background-color: rgb(227, 242, 253);
  /* border: 1px solid blue; */
  font-family: "Poppins", sans-serif;
  width: max-content;
  font-weight: 250;
  font-size: medium;
  border-radius: 20px;
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; 
  padding-right: 20px;
}

.tableWrapper{
  overflow-y: visible;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 15px;
  justify-content: space-around;
}

.row{
  border: 1px solid rgba(194, 188, 188, 0.756);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
}

.eventName{
  font-family: "Poppins",sans-serif;
  font-size: large;
  font-weight: 600;
}

.contentWrapper{
  width: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.listItemWrapper ul {
  display: flex;
  flex-direction: row;
  width: auto;
  padding: 0px;
  gap: 25px;
}

.listItems li{
  font-family: "Poppins",sans-serif;
  font-size: small;
  font-weight: 350px;
  display: inline-block; 
  list-style: none;
  margin-right: 0px;
}

#listIcons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-right: 15px;
  padding: 10px;
}

.buttonWrapper{
  margin-right: 125px;
  width: 20px;
  height: max-content;
}

#attendanceButton{
  background-color: rgba(0, 200, 166, 1);
}

.exportWrapper{
  display: flex;
  padding: 0px;
  gap: 0px;
  flex-direction: column;
  width: auto;
  margin: 30px;
  margin-top: auto;
  overflow-y: visible;
}

.backArrow{
  display: flex;
}

.exportHeader{
  margin: 0px;
  height: fit-content;
}

#eventName{
  font-family: "Poppins",sans-serif;
  font-size: x-large;
  font-weight: 600;
  width: auto;
}

.downloadButton{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  margin: 0px;
}

.download{
  padding: 2px;
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

#downloadButton{
  background-color: rgba(0, 200, 166, 1); 
}

.aboutusWrapper{              /* Root - Pages - AboutUs - aboutusWrapper */
  display: flex;
  flex-direction: row;
  gap: 25px;
  height: 100vh;
  flex: 1,1,auto;
}

.leftaboutus{                 /* Root - Pages - AboutUs - leftaboutus */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 0,0,auto;
}

.rightaboutus{                  /* Root - Pages - AboutUs - rightaboutus */
  display: flex;
  flex-direction: column;
  flex: 1;
}

.abouttxt{                      /* Root - Pages - AboutUs - abouttxt */
  font-family: "Poppins",sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: rgba(51, 51, 102, 1);
  margin-top: 50px;
}

.aboutContent{                     /* Root - Pages - AboutUs - aboutContent */
  color: rgba(51, 51, 102, 1);
  height: 100%;
  max-height: 100%;
  margin-top: 25px;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.para{                          /* Root - Pages - AboutUs - para */
  color: rgba(51, 51, 102, 1);
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  font-size: 15px;
}
